.about_section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.about_section .left {
    width: 40%;
}

.about_section img {
    width: 100%;
    border-radius: 5px;
}

.about_section .right {
    width: 50%;
}

.about_section .right h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 600;
}

.about_container {
    display: flex;
    margin-top: 5rem;
}

.content_left_side {
    writing-mode: vertical-rl;
    margin-right: 3rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50px;
}
.content_left_side p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: 2.5rem;
    font-size: 1.1rem;
    margin-top: 10px;
}
.content_left_side hr{
    height: 5rem;
}
.content_right_side{
    height: 500px;
}
.content_right_side p{
    color: var(--color-secondary);
    margin-bottom: 2rem;
    line-height: 2rem;
    width: 85%;
}
.content_right_side span{
    color: purple;
}
.content_right_side p:first-child::first-letter {
    font-size: 5rem;
    margin-right: 5px;
}
.content_right_side p:first-child span{
    color: var(--color-primary);
}
.content_right_side .last_para{
    margin-bottom: 4rem;
}
.content_right_side a{
    margin-left: 2rem;
    color: black;
    border: .1px solid rgba(80, 80, 80, 0.363);
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
}
.content_right_side a span{
    margin-left: 2px;
    font-weight: 900;
}
.content_right_side a:hover{
    border: .1px solid transparent;
    
    span{
        margin-left: 15px;
    }
}