.hero-container{
    height: 83vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../images/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 6rem;
    overflow: hidden;
}
.hero-banner{
    width: 45%;
}
.hero-banner h1{
    font-size: 3rem;
    line-height: 4.5rem;
    margin: .5rem 0 2rem 0;
    font-weight: 600;
}
.hero-banner h4{
    color: rgb(0, 129, 86);
}
.hero-banner p{
    color: var(--color-secondary);
    margin-bottom: 3rem;
    line-height: 1.8rem;
}
.hero-banner button{
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: .5rem 2rem;
    cursor: pointer;
    border: .5px solid transparent;
    transition: 1s ease;
    border-bottom: none;
}
.hero-banner button:hover{
    background: linear-gradient(0deg, rgb(24, 190, 255) 0%, rgb(22, 138, 255) 100%);
}
.hero-image{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
}
.hero-image img{
    width: 60%;
    filter: drop-shadow(5px 5px 10px rgba(41, 41, 41, 0.74));
}

@media screen and (max-width: 480px) {
    .hero-container{
        display: block;
        flex-direction: column;
        padding: 2rem 1rem 0 1rem; 
        height: 90vh;
    }
    .hero-image{
        margin-top: 5rem;
        width: 100%;
        justify-content: center;
    }
    .hero-banner{
        width: 100%;
    }
    .hero-banner h1{
        font-size: 2rem;
        line-height: 3rem;
        margin-top: .5rem;
        font-weight: 600;
    }
    .hero-banner button{
        font-size: .6rem;
    }
}