header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    height: 17vh;
    background-image: url("../../images/mask.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.activeLink{
    color: var(--color-primary);
}

nav ul {
    display: flex;
    gap: 4rem;
}

nav ul li a {
    transition: .3s ease;
}

nav ul li a:hover {
    color: var(--color-primary);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.logo h3 {
    font-weight: 600;
    font-size: 1.2rem;
}

.logo span {
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: 600;
} 

.login_button span{
    overflow: hidden;
}
.login_button {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    font-weight: bold;
}


.login_button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.login_button:before,
.login_button:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.login_button:before {
    height: 0%;
    width: 2px;
}

.login_button:after {
    width: 0%;
    height: 2px;
}

.login_button:hover {
    background: transparent;
    box-shadow: none;
}

.login_button:hover:before {
    height: 100%;
}

.login_button:hover:after {
    width: 100%;
}

.login_button span:hover {
    color: rgba(2, 126, 251, 1);
}

.login_button span:before,
.login_button span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.login_button span:before {
    width: 2px;
    height: 0%;
}

.login_button span:after {
    width: 0%;
    height: 2px;
}

.login_button span:hover:before {
    height: 100%;
}

.login_button span:hover:after {
    width: 100%;
}
.logout_button{
    background: transparent;
    color: grey;
    border: 1px solid grey;
}
.logout_button:hover{
    border: 1px solid grey;
}
.header-btns{
    display: flex;
    align-items: center;
    gap: 2.2rem;
}
.header-btns .theme-btn{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    font-size: 1.3rem;
}
.header-btns a{
    font-size: 1.3rem;
}
.hamburger-menu{
    display: none;
}
.mobile-nav{
    display: none;
}

@media screen and (max-width: 480px) {
    header nav{
        display: none;
    }
    header .header-btns{
        display: none;
    }
    header{
        padding: 0 1rem;
        height: 10vh;
        background-image: none;
    }
    .hamburger-menu{
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
    header .mobile-nav{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99999;
        height: 100vh;
        width: 100%;
        background-color: #ffffff;
    }
    header .mobile-nav .top{
        background-color: var(--color-primary);
        width: 100%;
        margin-bottom: 3rem;
        padding: 2rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .mobile-nav .icon{
        font-size: 1.7em;
        cursor: pointer;
        color: white;
    }
    header .mobile-nav ul li{
        margin-bottom: 1rem;
        margin-left: 1rem;
        font-size: 1.2rem;
    }
    .theme-btns-mobile button{
        border: none;
        background: none;
        color: white;
        font-size: 1.2rem;
    }
    .header-btns-mobile button{
        display: block;
        margin: 5rem 1rem;
        border: none;
        border-radius: .3rem;
        width: 90%;
        padding: .5rem;
    }
}