.register_body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(226, 226, 226);
}
.register-container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
}
.register-left{
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.register-left img{
    height: 100%;
}
.register-right{
    width: 60%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.register-right h2{
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3.5rem;
    overflow: hidden;
}
.register-right form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 2.5rem;
}
.register-right form div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.register-right input, .register-right select{
    width: 48%;
    background-color: rgb(245, 244, 244);
    margin-bottom: 1.3rem;
    border: none;
    border-left: 5px solid var(--color-primary);
    outline: none;
    border-radius: 3px;
    padding: .8rem .5rem;
    font-size: .8rem;
}
#register-bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
    font-size: .75rem;
    overflow: hidden;
}
.register-right button{
    background-color: var(--color-primary);
    border: none;
    outline: none;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    border-radius: 1rem .5rem;
    padding: 1rem .8rem;
    font-size: .7rem;
    letter-spacing: 2px;
    color: white;
    overflow: hidden;
    margin-bottom: 1rem;
}
.register-right button:hover{
    background-color: rgb(40, 40, 253);
}

@media screen and (max-width: 480px) {
    .register-container{
        width: 100%;
    }
    .register-left{
        display: none;
    }
    .register-right h2{
        font-size: 1.5rem;
    }
    .register-right{
        width: 100%;
        height: auto;
        padding: 3rem 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .register-right input, .register-right select{
        width: 100%;
    }
    .login-bottom{
        width: 90%;
    }
}